/*
 * Made by Noémie Deraedt in 2019.
 */

#book3 {
    opacity: 0.0;
    margin-left: 78%;
    margin-top: 38%;
    position: absolute;
}

#book4 {
    opacity: 0.0;
    margin-left: 65%;
    margin-top: 27%;
    position: absolute;
}

#book5 {
    opacity: 0.0;
    margin-left: 75%;
    margin-top: 24%;
    position: absolute;
}