/*
 * Made by Noémie Deraedt in 2019.
 */

#a {
    height: auto;
    width: 95%;
    opacity: 0.0;
    margin-left: 2.5%;
    margin-top: -3%;
    position: absolute;
}

#b {
    height: auto;
    width: 95%;
    opacity: 0.0;
    margin-left: 2.5%;
    margin-top: -3%;
    position: absolute;
}

#c {
    height: auto;
    width: 95%;
    opacity: 0.0;
    margin-left: 2.5%;
    margin-top: -3%;
    position: absolute;
}

#d {
    height: auto;
    width: 95%;
    opacity: 0.0;
    margin-left: 2.5%;
    margin-top: -3%;
    position: absolute;
}

#e {
    height: auto;
    width: 95%;
    opacity: 0.0;
    margin-left: 2.5%;
    margin-top: -3%;
    position: absolute;
}

#f {
    height: auto;
    width: 95%;
    opacity: 0.0;
    margin-left: 2.5%;
    margin-top: -3%;
    position: absolute;
}

#solution {
    height: auto;
    width: 95%;
    opacity: 0.0;
    margin-left: 2.5%;
    margin-top: -3%;
    position: absolute;
}
